<app-navbar></app-navbar>

<!-- HERO SECTION -->
<section class="hero">

  <img
    src="assets/images/hero.jpg"
    alt="Property Management"
    class="hero-image">

  <div class="overlay"></div>

  <div class="hero-content">

    <span class="top-tag">
      ✦ Trusted By Property Owners Worldwide
    </span>

    <h1 style="color: aliceblue; font-size: 95px;">
      Premium Property <span>Management</span>
    </h1>

    <p>
      CURA delivers complete end-to-end property management solutions for NRIs
      and property owners with transparency, professionalism and trust.
    </p>

    <!-- <div class="hero-buttons">
      <button class="primary-btn">Explore Services</button>
      <button class="secondary-btn">Contact Us</button>
    </div> -->

  </div>

</section>

<!-- SERVICES -->
<section class="services">

  <div class="section-header">
    <span>SERVICES</span>
    <h2>Everything Your Property Needs</h2>
  </div>

  <div class="services-grid">

    @for(service of services; track service){

      <div class="service-card">

        <div class="service-icon">
          {{service.icon}}
        </div>

        <h3>{{service.title}}</h3>

        <p>{{service.description}}</p>

      </div>

    }

  </div>

</section>

<!-- BANNER -->
<section class="banner-section">

  <img
    src="assets/images/banner.jpg"
    alt="Banner"
    class="banner-image">

  <div class="banner-overlay"></div>

  <div class="banner-content">

    <h2>
      Managing Properties Across Pune For NRIs
    </h2>

    <p>
      Trusted property management solutions with transparency and professionalism.
    </p>

  </div>

</section>

<!-- GALLERY -->
<section class="gallery">

  <div class="section-header">
    <span>PROPERTY GALLERY</span>
    <h2>Beautifully Managed Spaces</h2>
  </div>

  <div class="gallery-grid">

    <div class="gallery-item">
      <img src="assets/images/gallery1.jpg" alt="">
    </div>

    <div class="gallery-item">
      <img src="assets/images/gallery2.jpg" alt="">
    </div>

    <div class="gallery-item">
      <img src="assets/images/gallery3.jpg" alt="">
    </div>

    <div class="gallery-item">
      <img src="assets/images/gallery4.jpg" alt="">
    </div>

  </div>

</section>

<!-- CTA -->
<section class="cta">

  <h2>
    Let CURA Handle Everything
  </h2>

  <p>
    Professional property management for owners who value trust,
    transparency and quality.
  </p>

  <button routerLink="/inquiry">
    Get Started Today
  </button>
</section>

<app-footer></app-footer>