<!-- src/app/app.component.html -->
  <!--<app-navbar></app-navbar>
<main>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-hero></app-hero>
  <app-services></app-services>
  <app-comparison></app-comparison>
  <app-about></app-about>
  <app-stats></app-stats>
  <app-testimonials></app-testimonials>
  <app-inquiry></app-inquiry>
  <app-gallery></app-gallery>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  
  <app-test></app-test>
 <app-property-management></app-property-management> 
</main>
<app-footer></app-footer> 
-->
<router-outlet></router-outlet>
